<app-navbar></app-navbar>
<div class="card content">
  <div class="card-header">
    <h4>Círculo: {{circulo?.nombre}}</h4>
  </div>
  <div class="card-body container">
    <div class="row mb-2">
      <h5>Administrar profesores del círculo:</h5>
    </div>
    <div class="row">
      <div class="card col-sm">
        <div class="card-header row">
          <label>Miembros del Círculo</label>
        </div>
        <div class="row">
          <div class="card-body">
            <ul class="list-group search-result" style="height: 400px; overflow: auto; border: solid 1pt;">
              <li class="list-group-item list-group-item-action" *ngFor="let miembro of miembros">
                <label>{{miembro.nombre}}</label>
                <button class="btn btn-outline-danger float-right" (click)="removeMiembro(miembro)" title="Quitar profesor del círculo">
                  <fa name="minus"></fa>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card col-sm">
        <div class="card-header row">
          <label>Profesores que puedes añadir</label>
        </div>
        <div class="row">
          <div class="card-body">
            <ul class="list-group search-result" style="height: 400px; overflow: auto; border: solid 1pt;">
              <li class="list-group-item list-group-item-action" *ngFor="let profesor of profesores">
                <label>{{profesor.nombre}}</label>
                <button class="btn btn-outline-success float-right" (click)="addMiembro(profesor)" title="Añadir profesor al círculo">
                  <fa name="plus"></fa>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body container">
    <div class="row mb-2">
      <h5 class="col-sm">Administrar problemas del círculo:</h5>
      <div class="input-group col-sm">
        <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value, searchSelect.value)"
          placeholder="Buscar..." value="{{buscar}}"/>
        <div class="input-group-append">
          <label class="input-group-text">en</label>
          <select class="btn btn-outline-secondary" #searchSelect (change)="assignCopy(); search(searchBox.value, searchSelect.value)" value="{{campo}}">
            <option *ngFor="let campo of campos" [value]="campo">{{campo}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-sm">
        <div class="card-header row">
          <label>Problemas compartidos en el círculo</label>
        </div>
        <div class="row">
          <div class="card-body col">
            <ul class="list-group search-result" style="height: 600px; border: solid 1pt; overflow: auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let problemaCirculo of problemasCirculoFiltrados">
                <div class="row" title="{{problemaCirculo.snippet}}">
                  <div class="col-9">
                    <label>{{problemaCirculo.resumen}}</label>
                    <br/>
                    <label class="ml-2" title="Puntos del problema">
                      <fa name="star-o"></fa>{{problemaCirculo.puntos}}</label>
                    <label class="ml-2" title="Número de cuestiones">
                      <fa name="question-circle-o"></fa>{{problemaCirculo.n_cuestiones}}</label>
                    <label class="ml-2 text-muted" title="Número de exámenes en que aparece">
                      <fa name="window-maximize"></fa>{{problemaCirculo.n_examenes}}</label>
                    <span title="tags" class="ml-2">
                      <span class="badge badge-info ml-1" *ngFor="let tag of problemaCirculo.tags">{{ tag }}</span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="btn-group float-right" role="group" aria-label="Acciones sobre el problema">
                      <a class="btn btn-outline-primary" routerLink="/problemas-view/{{problemaCirculo.id}}" title="Ver problema">
                        <fa name="eye"></fa>
                      </a>
                      <button class="btn btn-outline-danger" (click)="removeProblema(problemaCirculo)" title="Quitar problema del examen">
                        <fa name="minus"></fa>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card col-sm">
        <div class="card-header row">
          <div class="col">
            <label>Problemas que puedes compartir</label>
          </div>
          <div class="col-4">
            <span class="pull-right">
              <a (click)="getListasProblemas()" title="Refrescar listas">
                <i class="fa fa-refresh fa-3x fa-fw" style="font-size:24px; color: #007BFF" (click)="spin($event)"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="card-body col">
            <ul class="list-group search-result" style="height: 600px; border: solid 1pt; overflow: auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let problema of problemasFiltrados">
                <div class="row" title="{{problema.snippet}}">
                  <div class="col-9">
                    <label>{{problema.resumen}}</label>
                    <br/>
                    <label class="ml-2" title="Puntos del problema">
                      <fa name="star-o"></fa>{{problema.puntos}}</label>
                    <label class="ml-2" title="Número de cuestiones">
                      <fa name="question-circle-o"></fa>{{problema.n_cuestiones}}</label>
                    <label class="ml-2 text-muted" title="Número de exámenes en que aparece">
                      <fa name="window-maximize"></fa>{{problema.n_examenes}}</label>
                    <span title="tags" class="ml-2">
                      <span class="badge badge-info ml-1" *ngFor="let tag of problema.tags">{{ tag }}</span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="btn-group float-right" role="group" aria-label="Acciones sobre el problema">
                      <a class="btn btn-outline-primary" routerLink="/problemas-view/{{problema.id}}" title="Ver problema">
                        <fa name="eye"></fa>
                      </a>
                      <button class="btn btn-outline-success" (click)="addProblema(problema)" title="Compartir problema con el círculo">
                        <fa name="plus"></fa>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>