<app-navbar></app-navbar>
<div class="card content">
  <div class="card-header">
    Crea un nuevo problema
  </div>
  <div class="card-body">
    <form [formGroup]="problemaForm" (ngSubmit)="onSubmit()" novalidate>
      <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="!problemaForm.valid || problemaForm.pristine" class="btn btn-success">
          Crear problema
        </button> &nbsp;
        <button type="reset" (click)="reset()" [disabled]="problemaForm.pristine" class="btn btn-danger">
          Limpiar
        </button>
      </div>
      <!--Resumen-->
      <div class="form-group">
        <label class="center-block">
          Resumen
        </label>
        <input type="text" class="form-control" formControlName="resumen" placeholder="Resumen del problema con no más de 60 caracteres."
          required>
        <div *ngIf="formErrors.resumen" class="alert alert-danger">
          {{ formErrors.resumen }}
        </div>
      </div>
      <!--Enunciado-->
      <div class="form-group">
        <label class="center-block">
          Enunciado general
        </label>
        <textarea class="form-control" formControlName="enunciadoGeneral" placeholder="Enunciado del problema en caso de que se quiera uno común a todas las cuestiones. &#x0a;Admite markdown.  Ejemplos:   ## Título   ### Subtítulo   **negrita**   *cursiva*"></textarea>
      </div>
      <!--Tags-->
      <div class="form-group">
        <label class="center-block">
          Tags
        </label>
        <input type="text" class="form-control" formControlName="tags" required>
        <div *ngIf="formErrors.tags" class="alert alert-danger">
          {{ formErrors.tags }}
        </div>
      </div>
      <!--Preguntas-->
      <div class="card" formArrayName="preguntas">
        <div class="card" *ngFor="let pregunta of preguntas.controls; let i=index" [formGroupName]="i">
          <div class="card-header">
            <span>Pregunta {{i + 1}}</span>
            <button class="btn btn-danger float-right" *ngIf="preguntas.controls.length > 1" (click)="removePregunta(i)">X</button>
            <button class="btn float-right mr-2 fa fa-angle-down" *ngIf="preguntas.controls.length > 1 && i<preguntas.value.length-1"
              (click)="moveDown(i)"></button>
            <button class="btn float-right mr-2 fa fa-angle-up" *ngIf="preguntas.controls.length > 1 && i>0" (click)="moveUp(i)"></button>
            <div class="form-group float-right row mr-2">
              <label class="mr-2 mt-2">
                Puntos:
              </label>
              <input type="number" style="width: 80px" size="4" step="0.25" min="0.25" oninput="if(this.value <=0){this.value = Math.abs(this.value)+1}"
                class="form-control" formControlName="puntos" required>
              <div *ngIf="formErrors.puntos" class="alert alert-danger">
                {{ formErrors.puntos }}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="center-block">
                Enunciado:
              </label>
              <textarea rows="5" class="form-control" formControlName="enunciado" placeholder="Admite markdown. &#x0a;Ejemplos:   ## Título   ### Subtítulo   **negrita**   *cursiva*"
                required></textarea>
              <div *ngIf="formErrors.enunciado" class="alert alert-danger">
                {{ formErrors.enunciado }}
              </div>
            </div>
            <div class="form-group">
              <label class="center-block">
                Respuesta:
              </label>
              <textarea class="form-control" formControlName="respuesta" placeholder="Admite markdown. &#x0a;Ejemplos:   ## Título   ### Subtítulo   **negrita**   *cursiva*"
                required></textarea>
            </div>
            <div class="form-group">
              <label class="center-block">
                Explicación:
              </label>
              <textarea class="form-control" formControlName="explicacion" placeholder="Admite markdown. &#x0a;Ejemplos:   ## Título   ### Subtítulo   **negrita**   *cursiva*"></textarea>
            </div>
          </div>
        </div>
      </div>
      <button type="button" (click)="addPregunta()" class="btn btn-primary mt-2">Añadir pregunta</button>
      <button type="submit" [disabled]="!problemaForm.valid || problemaForm.pristine" class="btn btn-success mt-2 ml-2">
        Crear problema
      </button>
    </form>
  </div>
</div>