<div class="modal-header">
  <h4 class="modal-title">Reiniciar contraseña</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email" required/>
        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span>Se le enviará un correo para resetear la contraseña</span>
    <button type="submit" class="btn btn-success" [disabled]="!resetForm.valid">
      Enviar correo
    </button>
  </div>
</form>