<app-navbar></app-navbar>
<div class="card content">
  <div class="card-header">
    <h4>Examen: {{examen?.asignatura}} / {{examen?.titulacion}} / {{examen?.convocatoria}}</h4>
  </div>
  <div class="card-body container">
    <div class="row mb-2">
      <h5 class="col-sm">Administrar problemas del examen:</h5>
      <div class="input-group col-sm">
        <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value, searchSelect.value)"
          placeholder="Buscar..." acesskey="s" value="{{buscar}}"/>
        <div class="input-group-append">
          <label class="input-group-text">en</label>
          <select class="btn btn-outline-secondary" #searchSelect (change)="assignCopy(); search(searchBox.value, searchSelect.value)" value="{{campo}}">
            <option *ngFor="let campo of campos" [selected]="campo == 'tags'" [value]="campo">{{campo}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-sm">
        <div class="card-header row" style="height: 61px">
          <div class="col">
            <label>Problemas en el Examen</label>
          </div>
          <div class="col-4">
            <span class="pull-right">
              <label class="ml-2">
                <fa name="star-o"></fa>{{ examen?.total_puntos }}
              </label>
              <label class="ml-2">
                <fa name="question-circle-o"></fa> {{ problemasExamen?.length }}
              </label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="card-body col">
            <ul class="list-group search-result" style="height: 600px; border: solid 1pt; overflow: auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let problemaExamen of problemasExamenFiltrados">
                <div class="row" title="{{problemaExamen.snippet}}">
                  <div class="col-9">
                    <label>{{problemaExamen.resumen}}</label>
                    <br/>
                    <label class="ml-2" title="Puntos del problema">
                      <fa name="star-o"></fa>{{problemaExamen.puntos}}</label>
                    <label class="ml-2" title="Número de cuestiones">
                      <fa name="question-circle-o"></fa>{{problemaExamen.n_cuestiones}}</label>
                    <label class="ml-2 text-muted" title="Número de exámenes en que aparece">
                      <fa name="window-maximize"></fa>{{problemaExamen.n_examenes}}</label>
                    <span title="tags" class="ml-2">
                      <span class="badge badge-info ml-1" *ngFor="let tag of problemaExamen.tags">{{ tag }}</span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="btn-group float-right" role="group" aria-label="Acciones sobre el problema">
                      <a class="btn btn-outline-primary" routerLink="/problemas-view/{{problemaExamen.id}}" title="Ver problema">
                        <fa name="eye"></fa>
                      </a>
                      <button class="btn btn-outline-danger" (click)="removeProblema(problemaExamen)" title="Quitar problema del examen">
                        <fa name="minus"></fa>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card col-sm">
        <div class="card-header row">
          <div class="col">
            <label>Problemas que puedes usar</label>
          </div>
          <div class="col-4">
            <span class="pull-right">
              <a (click)="getListasProblemas()" title="Refrescar listas">
                <i class="fa fa-refresh fa-3x fa-fw" style="font-size:24px; color: #007BFF" (click)="spin($event)"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="card-body col">
            <ul class="list-group search-result" style="height: 600px; border: solid 1pt; overflow: auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let problema of problemasFiltrados">
                <div class="row" title="{{problema.snippet}}">
                  <div class="col-9">
                    <label>{{problema.resumen}}</label>
                    <br/>
                    <label class="ml-2" title="Puntos del problema">
                      <fa name="star-o"></fa>{{problema.puntos}}</label>
                    <label class="ml-2" title="Número de cuestiones">
                      <fa name="question-circle-o"></fa>{{problema.n_cuestiones}}</label>
                    <label class="ml-2 text-muted" title="Número de exámenes en que aparece">
                      <fa name="window-maximize"></fa>{{problema.n_examenes}}</label>
                    <span title="tags" class="ml-2">
                      <span class="badge badge-info ml-1" *ngFor="let tag of problema.tags">{{ tag }}</span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="btn-group float-right" role="group" aria-label="Acciones sobre el problema">
                      <a class="btn btn-outline-primary" routerLink="/problemas-view/{{problema.id}}" title="Ver problema">
                        <fa name="eye"></fa>
                      </a>
                      <button class="btn btn-outline-success" (click)="addProblema(problema)" title="Añadir problema al examen">
                        <fa name="plus"></fa>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>