<app-navbar></app-navbar>
<app-alert></app-alert>
<div class="card content" *ngIf="problema">
  <div class="card-header">
    <h4>{{problema.resumen}}</h4>
    <label>
      <b>Creador:</b> {{problema.creador.nombre}}</label>
    <label class="ml-4">
      <b>Puntos totales:</b> {{problema.puntos}}</label>
    <label class="ml-4">
      <b class="mr-2">Tags:</b>
      <li class="badge badge-info mr-1" *ngFor="let tag of problema.tags">
        {{ tag }}
      </li>
    </label>
    <div class="btn-group float-right" role="group" aria-label="Acciones sobre el problema">
      <button class="btn btn-outline-primary" [disabled]="!problema.es_borrable" routerLink="/problemas-edit/{{problema.id}}" title="Editar problema">
        <fa name="edit"></fa>
      </button>
      <button class="btn btn-outline-primary" (click)="clone(problema)" title="Obtener duplicado del problema">
        <fa name="clone"></fa>
      </button>
      <button class="btn btn-outline-secondary" [disabled]="!problema.es_compartible" (click)="openShare(problema.id);$event.stopPropagation()"
        title="Compartir problema con círculos">
        <fa name="share-alt"></fa>
      </button>
      <button class="btn btn-outline-danger" [disabled]="!problema.es_borrable" (click)="delete(problema)" title="Eliminar problema">
        <fa name="trash"></fa>
      </button>
    </div>
    <div *ngIf="problema.n_examenes">
      <label>
       <b>Examenes: {{problema.n_examenes}} </b>
      </label>
       <li class="badge badge-info mr-1" *ngFor="let ex of problema.examenes">
          {{ex.asignatura}}-{{ex.convocatoria}}-{{ex.fecha}}
       </li>
    </div>
  </div>
  <div class="card-body">
    <p *ngIf="problema.enunciado != '' ">
      <markdown [data]="problema.enunciado"></markdown>
    </p>
    <div class="mt-4" *ngFor="let pregunta of problema.cuestiones; let i=index">
      <div class="row no-gutters mt-4">
        <div class="col-1">
          <label class="puntuacion float-right mr-3">{{pregunta.puntos}}&nbsp;pto{{pregunta.puntos>1?"s":""}}</label>
        </div>
        <div class="col">
          <markdown [data]="pregunta.enunciado"></markdown>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col">
          <div class="respuesta">
            <markdown [data]="pregunta.respuesta"></markdown>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col explicacion">
          <div *ngIf="pregunta.explicacion != '' ">
            Explicación:
            <markdown [data]="pregunta.explicacion"></markdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
