<div class="modal-header">
  <h4 class="modal-title">Editar círculo</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>
<form [formGroup]="circuloForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" required/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!circuloForm.valid || circuloForm.pristine">
      Guardar
    </button>
  </div>
</form>