<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}
    <a class="float-right" (click)="close()" title="Cerrar">
        <fa name="window-close"></fa>
    </a>
</div>