<app-navbar></app-navbar>
<div class="card content">
  <div class="card-header">
    Crea un nuevo examen
  </div>
  <div class="card-body">
    <form [formGroup]="examenForm" (ngSubmit)="onSubmit()" novalidate>
      <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="!examenForm.valid || examenForm.pristine" class="btn btn-success">
          Crear examen
        </button> &nbsp;
        <button (click)="reset()" [disabled]="examenForm.pristine" class="btn btn-danger">
          Limpiar
        </button>
      </div>
      <!--Convocatoria-->
      <div class="form-group">
        <label class="center-block">
          Convocatoria
        </label>
        <input type="text" class="form-control" formControlName="convocatoria" [attr.disabled]="this.examenForm.value.estado != 'abierto' ? 'disabled' : null" required>
        <div *ngIf="formErrors.convocatoria" class="alert alert-danger">
          {{ formErrors.convocatoria }}
        </div>
      </div>
      <!--Asignatura-->
      <div class="form-group">
        <label class="center-block">
          Asignatura
        </label>
        <input type="text" class="form-control" formControlName="asignatura" [attr.disabled]="this.examenForm.value.estado != 'abierto' ? 'disabled' : null" required>
        <div *ngIf="formErrors.asignatura" class="alert alert-danger">
          {{ formErrors.asignatura }}
        </div>
      </div>
      <!--Titulación-->
      <div class="form-group">
        <label class="center-block">
          Titulación
        </label>
        <input type="text" class="form-control" formControlName="titulacion" [attr.disabled]="this.examenForm.value.estado != 'abierto' ? 'disabled' : null" required>
        <div *ngIf="formErrors.titulacion" class="alert alert-danger">
          {{ formErrors.titulacion }}
        </div>
      </div>
      <!--Estado-->
      <div class="form-group">
        <label class="center-block">
          Estado
        </label>
        <select class="form-control" formControlName="estado" required>
          <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
        </select>
      </div>
      <!--Fecha-->
      <div class="form-group">
        <label class="center-block">
          Fecha
        </label>
        <input type="date" class="form-control" formControlName="fecha" [attr.disabled]="this.examenForm.value.estado != 'abierto' ? 'disabled' : null" required>
        <div *ngIf="formErrors.fecha" class="alert alert-danger">
          {{ formErrors.fecha }}
        </div>
      </div>
      <!--Instrucciones-->
      <div class="form-group">
        <label class="center-block">
          Instrucciones
        </label>
        <textarea class="form-control" formControlName="intro" [attr.disabled]="this.examenForm.value.estado != 'abierto' ? 'disabled' : null" placeholder="Instrucciones generales del examen. &#x0a;Admite markdown.  Ejemplos:   ## Título   ### Subtítulo   **negrita**   *cursiva*"></textarea>
      </div>
    </form>
  </div>
</div>