<app-navbar></app-navbar>
<app-alert></app-alert>
<div class="card content">
  <div class="card-header">
    <div class="row">
      <div class="col-sm">Lista de problemas</div>
      <div class="float-right mr-3">
        <a (click)="getProblemas()" title="Refrescar lista">
          <i class="fa fa-refresh fa-3x fa-fw" style="font-size:24px; color: #007BFF" (click)="spin($event)"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body container">
    <div class="row mb-4">
      <div class="col-sm">
        <div class="btn-group pull-left mb-1" role="group" aria-label="Crear problema" routerLink="/problemas-add">
          <button type="button" class="btn btn-primary">
            <fa name="plus"></fa>
          </button>
          <button type="button" class="btn btn-primary">Nuevo Problema</button>
        </div>
      </div>
      <div class="input-group col-sm mt-1">
        <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value, searchSelect.value)"
          placeholder="Buscar..." value="{{buscar}}" />
        <div class="input-group-append">
          <label class="input-group-text">en</label>
          <select class="btn btn-outline-secondary" #searchSelect (change)="assignCopy(); search(searchBox.value, searchSelect.value)"
            value="{{campo}}">
            <option *ngFor="let campo of campos" [value]="campo">{{campo}}</option>
          </select>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor="let problema of pageOfProblemas" routerLink="/problemas-view/{{problema.id}}">
        <div class="row" title="{{problema.snippet}}">
          <div class="col-9">
            <label>{{problema.resumen}}</label>
            <br/>
            <label class="ml-2" title="Puntos del problema">
              <fa name="star-o"></fa>{{problema.puntos}}</label>
            <label class="ml-2" title="Número de cuestiones">
              <fa name="question-circle-o"></fa>{{problema.n_cuestiones}}</label>
            <label class="ml-2 text-muted" title="Número de exámenes en que aparece">
              <fa name="window-maximize"></fa>{{problema.n_examenes}}</label>
            <span title="tags" class="ml-2">
              <span class="badge badge-info ml-1" *ngFor="let tag of problema.tags">{{ tag }}</span>
            </span>
            <span *ngIf="problema.publicado==true" title="Problema publicado" class="ml-4">
                <fa name="eye"></fa>
            </span>
          </div>
          <div class="col">
            <div class="btn-group float-right" role="group" aria-label="Acciones sobre el problema">
              <button class="btn btn-outline-primary" [disabled]="!problema.es_borrable" routerLink="/problemas-edit/{{problema.id}}" title="Editar problema">
                <fa name="edit"></fa>
              </button>
              <button class="btn btn-outline-primary" (click)="clone(problema);$event.stopPropagation()" title="Obtener duplicado del problema">
                <fa name="clone"></fa>
              </button>
              <button class="btn btn-outline-secondary" [disabled]="!problema.es_compartible" (click)="openShare(problema.id);$event.stopPropagation()"
                title="Compartir problema con círculos">
                <fa name="share-alt"></fa>
              </button>
              <button class="btn btn-outline-danger" [disabled]="!problema.es_borrable" (click)="delete(problema);$event.stopPropagation()"
                title="Eliminar problema">
                <fa name="trash"></fa>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <nav class="mr-1">
      <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination pagination-sm justify-content-start mt-4 mb-0">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(1)" class="page-link">
            <fa name="fast-backward"></fa>
          </a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(pager.currentPage - 1)" class="page-link">
            <fa name="caret-left"></fa>
          </a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
          <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.currentPage + 1)" class="page-link">
            <fa name="caret-right"></fa>
          </a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.totalPages)" class="page-link">
            <fa name="fast-forward"></fa>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>