<app-alert></app-alert>
<div class="card col-md-4 offset-md-4">
<h2 class="card-header">Login</h2>
<form class="card-body" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label for="email" class="center-block">Email</label>
        <input type="email" formControlName="email" class="form-control" required>
        <div *ngIf="formErrors.email" class="alert alert-danger">
            {{ formErrors.email }}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" required>
        <div *ngIf="formErrors.password" class="alert alert-danger">
            {{ formErrors.password }}
        </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid || loginForm.pristine" class="btn btn-success">
        Login
    </button>
    <a class="float-right" style="color:rgb(0, 153, 255)" (click)="openReset()">¿Ha olvidado su contraseña?</a>
</form>
</div>