<app-navbar></app-navbar>
<app-alert></app-alert>
<div class="card content">
  <div class="card-header">
    <div class="row">
      <div class="col-sm">Lista de exámenes</div>
      <div class="float-right mr-3">
        <a (click)="getExamenes()" title="Refrescar lista">
          <i class="fa fa-refresh fa-3x fa-fw" style="font-size:24px; color: #007BFF" (click)="spin($event)"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body container">
    <div class="row mb-4">
      <div class="col-sm">
        <div class="btn-group pull-left mb-1" role="group" aria-label="Crear examen nuevo" routerLink="/examenes-add">
          <button type="button" class="btn btn-primary">
            <fa name="plus"></fa>
          </button>
          <button type="button" class="btn btn-primary">Nuevo Examen</button>
        </div>
      </div>
      <div class="input-group col-sm mt-1">
        <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value, searchSelect.value)"
          placeholder="Buscar..." value="{{buscar}}" />
        <div class="input-group-append">
          <label class="input-group-text">en</label>
          <select class="btn btn-outline-secondary" #searchSelect (change)="assignCopy(); search(searchBox.value, searchSelect.value)"
            value="{{campo}}">
            <option *ngFor="let campo of campos" [value]="campo">{{campo}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let examen of pageOfExamenes">
            <div class="row">
              <div class="col-9" routerLink="/examenes-view/{{examen.id}}">
                <label>{{examen.asignatura}} / {{examen.titulacion}} / {{examen.convocatoria}}</label>
                <br/>
                <span title="Examen {{examen.estado}}">
                  <fa name="{{examen.estado=='abierto'?'unlock': examen.estado=='cerrado'?'lock':'eye'}}" class="ml-4"></fa>
                </span>
              </div>
              <div class="col">
                <div class="btn-group float-right mt-1" role="group" aria-label="Acciones sobre el examen">
                  <button class="btn btn-outline-primary" [disabled]="examen.estado=='publicado'" routerLink="/examenes-edit/{{examen.id}}"
                    title="Editar metadatos del examen">
                    <fa name="edit"></fa>
                  </button>
                  <button class="btn btn-outline-primary" [disabled]="examen.estado!='abierto'" routerLink="/examenes-detail/{{examen.id}}"
                    title="Añadir/Quitar problemas">
                    <fa name="list"></fa>
                  </button>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" title="Descargar examen en diferentes formatos">
                      <fa name="download"></fa>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <nav class="dropdown-item" (click)="downloadExamen(examen, 'pdf');$event.stopPropagation()" title="Convertir y descargar pdf">
                        <fa name="file-pdf-o"></fa> PDF</nav>
                      <nav class="dropdown-item" (click)="downloadExamen(examen, 'zip');$event.stopPropagation()" title="Convertir a LaTeX y descargar zip">
                        <fa name="file-archive-o"></fa> LaTeX</nav>
                    </div>
                  </div>
                  <button class="btn btn-outline-danger" [disabled]="examen.estado!='abierto'" (click)="delete(examen);$event.stopPropagation()"
                    title="Eliminar examen">
                    <fa name="trash"></fa>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- pager -->
    <nav class="row">
      <div class="col-sm">
        <ul *ngIf="pager.pages && pager.pages.length>1" class="pagination pagination-sm justify-content-start mt-2 mb-0">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(1)" class="page-link">
              <fa name="fast-backward"></fa>
            </a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link">
              <fa name="caret-left"></fa>
            </a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link">
              <fa name="caret-right"></fa>
            </a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.totalPages)" class="page-link">
              <fa name="fast-forward"></fa>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>