<app-navbar></app-navbar>
<app-alert></app-alert>
<div class="card content">
  <div class="card-header">
    <div class="row">
      <div class="col-sm">Lista de círculos</div>
    </div>
  </div>
  <div class="card-body container">
    <div class="row mb-4">
      <div class="col-sm">
        <div class="btn-group pull-left mb-1" role="group" aria-label="Crear círculo nuevo" (click)="openAdd()">
          <button type="button" class="btn btn-primary">
            <fa name="plus"></fa>
          </button>
          <button type="button" class="btn btn-primary">Nuevo Círculo</button>
          <!--
              <button class="btn btn-primary float-right mr-2" (click)="openAdd()">Crear círculo</button>
              <input class="float-right" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
              <label class="float-right mr-2">Buscar por nombre:</label>
              -->
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="input-group col-sm mt-1">
        <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Buscar por nombre..."
        value="{{buscar}}"/>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor="let circulo of pageOfCirculos">
        <label>{{circulo.nombre}}</label><br/>
        <label class="ml-4" title="Número de miembros">
          <fa name="user-o"></fa> {{circulo.miembros.length}}</label>
        <label class="ml-4" title="Número de problemas">
          <fa name="file-o"></fa> {{circulo.problemas.length}}</label>
        <div class="btn-group float-right" role="group" aria-label="Acciones sobre el círculo">
          <button class="btn btn-outline-primary" (click)="openEdit(circulo.id)" title="Cambiar nombre al círculo">
            <fa name="edit"></fa>
          </button>
          <button class="btn btn-outline-primary" routerLink="/circulos-detail/{{circulo.id}}" title="Añadir/quitar profesores y problemas">
            <fa name="list"></fa>
          </button>
          <button class="btn btn-outline-danger" (click)="deleteCirculo(circulo)" title="Eliminar círculo">
            <fa name="trash"></fa>
          </button>
        </div>
      </li>
    </ul>
    <nav class="mr-1 mt-2">
      <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination pagination-sm justify-content-start">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(1)" class="page-link">
            <fa name="fast-backward"></fa>
          </a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(pager.currentPage - 1)" class="page-link">
            <fa name="caret-left"></fa>
          </a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
          <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.currentPage + 1)" class="page-link">
            <fa name="caret-right"></fa>
          </a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.totalPages)" class="page-link">
            <fa name="fast-forward"></fa>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>