<div class="modal-header">
  <h4 class="modal-title">Descargar Examen</h4>
</div>
<div class="modal-body">
  <div class="container" style="width:180px; height:100px; display: table">
    <div id="select">
      <select [(ngModel)]="selectedValue" class="mt-4">
        <option value="Sin respuestas" selected="selected">Sin respuestas</option>
        <option value="Con respuestas">Con respuestas</option>
        <option value="Resuelto con explicaciones">Resuelto con explicaciones</option>
      </select>
      <button class="btn btn-success mt-3 ml-4" (click)="iniciarDescarga()">
        <fa name="cogs"></fa> Iniciar conversión</button>
    </div>
    <div id="procesando" style="display: none">
      <label class="mt-2"><fa name="gear" size="2x" animation="spin"></fa> Procesando... </label>
    </div>
    <div id="terminado" style="display: none">
      <button class="btn btn-success mt-4" (click)="terminarDescarga()">
        <fa name="download"></fa> Descargar</button>
    </div>
    <div id="error" style="display: none; color: #D8000C">
      <h5 class="mt-4">Ha ocurrido un error</h5>
    </div>
  </div>
  <label id="info" style="margin:0; padding: 10px">La descarga requiere que el servidor prepare el documento, lo que puede tardar un poco. Si no quieres esperar puedes cancelar
      y volver a intentarlo más tarde</label>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" (click)="activeModal.dismiss('Descarga cancelada')">
    <fa name="ban"></fa>
    Cancelar descarga</button>
</div>