<div class="modal-header">
  <h4 class="modal-title">Compartir problema</h4>
</div>
<div class="modal-body">
  <div class="container" style="height: 400px; overflow: auto;">
    <div *ngIf="circulos?.length==0">
      <label>Parece que no has creado aún círculos de profesores con quienes compartir las preguntas.</label>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action" *ngFor="let circulo of circulos">
        <label>{{circulo.nombre}}</label>
        <br/>
        <label class="ml-4" title="Número de miembros">
          <fa name="user-o"></fa> {{circulo.miembros.length}}</label>
        <label class="ml-4" title="Número de problemas">
          <fa name="file-o"></fa> {{circulo.problemas.length}}</label>
        <div class="btn-group float-right" role="group" aria-label="Acciones sobre el círculo">
          <input type="checkbox" id="{{circulo.id}}" [checked]="check(circulo)" (change)="onChange(circulo)">
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="activeModal.dismiss('Listo')">
    Listo
  </button>
</div>