/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

.content {
    max-width: 1140px;
    margin: auto;
}

.center {
    text-align: center;
}

.navbar-brand {
    font-family: 'Baloo', sans-serif;
    font-size: x-large;
}

.puntuacion {
    font-size: small;
    font-weight: bold;
    background-color: rgb(219, 219, 219);
    padding: 1pt 2pt;
    border-radius: 3pt;
}

code {
    color: rgb(45, 59, 151);
}

pre {
    color: rgb(45, 59, 151);
    margin: 1em;
    padding: 1em;
    border: solid 1pt rgb(177, 177, 177);
}

.respuesta {
    border: lightgray solid 0.5pt;
    color: gray;
    padding: .5em 1em;
    margin-bottom: 1em;
}

.badge-info {
    background-color:          rgb(248, 241, 221);
    color: black;
    font-weight: 100;
}

.btn.btn-outline-primary[disabled] {
    color: #80a1c0;
    border-color: #80a1c0;
}

.btn.btn-outline-danger[disabled] {
    color: #cc9090;
    border-color: #cc9090;
}


/*
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
*/
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* verde */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* rojo */
}
