<app-navbar></app-navbar>
<div class="card content" *ngIf="examen">
  <div class="card-header">
    <h4>{{examen.asignatura}} / {{examen.titulacion}} / {{examen.convocatoria}}</h4>
    <label>
      <b>Estado:</b> {{examen.estado}}</label>
    <label class="ml-4">
      <b>Puntos totales:</b> {{examen.total_puntos}}</label>
    <label class="ml-4">
      <b>Fecha:</b> {{examen.fecha}}</label>
    <div class="btn-group float-right" role="group" aria-label="Acciones sobre el examen">
      <button class="btn btn-outline-primary" [disabled]="examen.estado=='publicado'" routerLink="/examenes-edit/{{examen.id}}"
        title="Editar metadatos del examen">
        <fa name="edit"></fa>
      </button>
      <button class="btn btn-outline-primary" [disabled]="examen.estado!='abierto'" routerLink="/examenes-detail/{{examen.id}}"
        title="Añadir/Quitar problemas">
        <fa name="list"></fa>
      </button>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" title="Descargar examen en diferentes formatos">
          <fa name="download"></fa>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <nav class="dropdown-item" (click)="downloadExamen(examen, 'pdf');$event.stopPropagation()" title="Convertir y descargar pdf">
            <fa name="file-pdf-o"></fa> PDF</nav>
          <nav class="dropdown-item" (click)="downloadExamen(examen, 'zip');$event.stopPropagation()" title="Convertir a LaTeX y descargar zip">
            <fa name="file-archive-o"></fa> LaTeX</nav>
        </div>
      </div>
      <button class="btn btn-outline-danger" [disabled]="examen.estado!='abierto'" (click)="delete(examen)" title="Eliminar examen">
        <fa name="trash">Borrar</fa>
      </button>
    </div>
  </div>
  <div class="card-body">
    <p *ngIf="examen.intro != '' ">
      <markdown [data]="examen.intro"></markdown>
    </p>
    <div class="mt-4 card content" *ngFor="let problema of examen.problemas; let i=index">
      <div class="card-header">
        <h5>
             {{problema.resumen}}</h5>
        <label>
          <b>Creador:</b> {{problema.creador.nombre}}</label>
        <label class="ml-4">
          <b>Puntos:</b> {{problema.puntos}}</label>
        <label class="ml-4">
          <b class="mr-2">Tags:</b>
          <li class="badge badge-info mr-1" *ngFor="let tag of problema.tags">
            {{ tag }}
          </li>
        </label>
      </div>
      <div class="card-body">
        <p *ngIf="problema.enunciado != '' ">
          <markdown [data]="problema.enunciado"></markdown>
        </p>
        <div class="mt-4" *ngFor="let pregunta of problema.cuestiones; let i=index">
          <div class="row no-gutters mt-4">
            <div class="col-1">
              <label class="puntuacion float-right mr-3">{{pregunta.puntos}}&nbsp;pto{{pregunta.puntos>1?"s":""}}</label>
            </div>
            <div class="col">
              <markdown [data]="pregunta.enunciado"></markdown>
            </div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col">
              <div class="respuesta">
                <markdown [data]="pregunta.respuesta"></markdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col explicacion">
              <div *ngIf="pregunta.explicacion != '' ">
                Explicación:
                <markdown [data]="pregunta.explicacion"></markdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>